<style>
table {
	width: 100%;
}

table,
th,
td {
	border: 1px solid black;
	\
}

th,
td {
	padding: 5px;
	text-align: center;
}

table tr:nth-child(odd) {
	background-color: #eee;
}

table tr:nth-child(even) {
	background-color: #fff;
}

table th {
	background-color: #fff;
	/*color: white;*/
}

table th {
	width: 40px;
}

</style>
<table>
	<tr>
		<th>Date</th>
		<th>Name</th>
		<th>1</th>
		<th>X</th>
		<th>2</th>
		<th>1X</th>
		<th>12</th>
		<th>X2</th>
		<th>0(1)</th>
		<th>0(2)</th>
		<th>Yes</th>
		<th>Noe</th>
		<th>Under</th>
		<th>Over</th>
	</tr>
	<tr>
		<td>Jill</td>
		<td>Smith</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
	</tr>
	<tr>
		<td>Jill</td>
		<td>Smith</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
	</tr>
	<tr>
		<td>Jill</td>
		<td>Smith</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
	</tr>
	<tr>
		<td>Jill</td>
		<td>Smith</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
	</tr>
	<tr>
		<td>Jill</td>
		<td>Smith</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
	</tr>
</table>
